---
import articles from "../../../../build/articles.json" assert { type: "json" };
import { marked } from "marked";

export function getStaticPaths() {
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }));
}

const { article } = Astro.props;
const html = marked.parse(article.body);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{article.title}</title>
  </head>
  <body>
    <main>
      <h1>{article.title}</h1>
      <p><strong>Type:</strong> {article.type}</p>
      <article data-pagefind-body set:html={html} />
    </main>
  </body>
</html>
